<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 메인 이동 -->
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>dev.study.main.web.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/mainServlet.go</url-pattern>
    </servlet-mapping>

    <!-- 회원삭제 -->
    <servlet>
        <servlet-name>boardDeleteServlet</servlet-name>
        <servlet-class>dev.study.board.web.BoardDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardDeleteServlet</servlet-name>
        <url-pattern>/boardDeleteServlet.go</url-pattern>
    </servlet-mapping>

    <!-- 회원등록 -->
    <servlet>
        <servlet-name>boardInsertServlet</servlet-name>
        <servlet-class>dev.study.board.web.BoardInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardInsertServlet</servlet-name>
        <url-pattern>/boardInsertServlet.go</url-pattern>
    </servlet-mapping>

    <!-- 회원검색 -->
    <servlet>
        <servlet-name>boardSelectServlet</servlet-name>
        <servlet-class>dev.study.board.web.BoardSelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardSelectServlet</servlet-name>
        <url-pattern>/boardSelectServlet.go</url-pattern>
    </servlet-mapping>

    <!-- 회원수정 -->
    <servlet>
        <servlet-name>boardUpdateServlet</servlet-name>
        <servlet-class>dev.study.board.web.BoardUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardUpdateServlet</servlet-name>
        <url-pattern>/boardUpdateServlet.go</url-pattern>
    </servlet-mapping>
    
    <!-- 회원수정 -->
    <servlet>
        <servlet-name>boardSelectAllServlet</servlet-name>
        <servlet-class>dev.study.board.web.BoardSelectAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardSelectAllServlet</servlet-name>
        <url-pattern>/boardSelectAllServlet.go</url-pattern>
    </servlet-mapping>

</web-app>